<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        {% extends 'navbar.html' %}
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>      
    </head>

    <body>
      {% block content %}
          <div style="margin-bottom: 50px;"></div>

          <div class="columns is-centered">
            <div class="column is-5">
              <p class="title is-1 has-text-centered">About Us</p>
              <p class="subtitle is-5 has-text-centered"> What is BackPacking.PH? </p>
            </div>
          </div>

          <div class="hero is-centered">
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_y9czxcb9.json" background="transparent"  speed="1"  style="width: auto; height: 400px;" loop autoplay></lottie-player>
          </div>
      {% endblock %}
          
    </body>

    <script>
        
    </script>

</html>