<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <title>Sign Up</title> 
    </head>

    <body>
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="">
              <span class="icon">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_kzfpndct.json" background="transparent"  speed="1"  style="width: 30px; height: 30px;" loop autoplay></lottie-player>
              </span>
              <span>
                  <p class="title is-6 weight-bold">BIKEPACKING.PH</p>
              </span>
            </a>
          </div>
        </nav>

        <div class="hero">
          <div class="hero-body">
              <div class="container">
                <div class="column is-half is-offset-one-quarter">
                  <p class="title is-3 has-text-centered">
                      SIGN-UP
                  </p>
                  <p class="subtitle has-text-centered">
                      Your journey starts here!
                  </p>
                </div>

                <div class="columns is-centered">
                    <div class="column is-4">
                        <form method="POST" action="" class="box"> {% csrf_token %}
                          <div class="field">
                            <p class="control">
                              {{form.first_name}}
                            </p>
                          </div>

                          <div class="field">
                            <p class="control">
                             {{form.last_name}}
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              {{form.username}}
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_SwqOyE.json" background="transparent"  speed="0.15"  style="width: 60%;" loop autoplay></lottie-player>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              {{form.email}}
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_NtuZKU.json" background="transparent"  speed="0.15"  style="width: 60%;" loop autoplay></lottie-player>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left">
                              {{form.password1}}
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_9LR70U.json" background="transparent"  speed="1"  style="width: 150%;" loop autoplay></lottie-player>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left">
                              {{form.password2}}
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_9LR70U.json" background="transparent"  speed="1"  style="width: 150%;" loop autoplay></lottie-player>
                              </span>
                            </p>
                          </div>

                          {% for message in messages %}
                              <div class="notification is-danger">
                                  {{ message.as_p }}
                              </div>
                          {% endfor %}

                          <div class="field is-grouped is-grouped-right">
                            <p class="control">
                              <button class="button is-danger is-rounded is-outlined" type="reset">
                                Cancel
                              </button>
                            </p>
                            <p class="control">
                              <input class="button is-success is-rounded" type="submit" value="Register" />
                            </p>
                          </div>
                        </form>

                        <div class="column">
                          <p class="subtitle is-7 has-text-centered" style="color: black;"> Already have an account?
                              <a href="{% url 'login' %}" style="color: hsl(204, 86%, 53%);"> Login </a>
                          </p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </body>
</html>

