<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <title>Sign Up</title> 
    </head>

    <body>
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="">
              <span class="icon">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_kzfpndct.json" background="transparent"  speed="1"  style="width: 30px; height: 30px;" loop autoplay></lottie-player>
              </span>
              <span>
                  <p class="title is-6 weight-bold">BIKEPACKING.PH</p>
              </span>
            </a>
          </div>
        </nav>

        <div class="hero">
          <div class="hero-body">
              <div class="container">
                <div class="column is-half is-offset-one-quarter">
                  <p class="title is-3 has-text-centered">
                      SIGN-UP
                  </p>
                  <p class="subtitle has-text-centered">
                      Your journey starts here!
                  </p>
                </div>

                <div class="columns is-centered">
                    <div class="column is-4">
                        <form id="signup_form" class="box"> {% csrf_token %}
                          <div class="field">
                            <p class="control">
                              <input class="input" type="text" placeholder="Name" id="reg_name">  
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              <input class="input" type="username" placeholder="Username" id="reg_username">
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_SwqOyE.json" background="transparent"  speed="0.15"  style="width: 60%;" loop autoplay></lottie-player>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email" id="reg_email">
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_NtuZKU.json" background="transparent"  speed="0.15"  style="width: 60%;" loop autoplay></lottie-player>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password" id="reg_password1">
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_9LR70U.json" background="transparent"  speed="1"  style="width: 150%;" loop autoplay></lottie-player>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Confirm Password" id="reg_password1">
                              <span class="icon is-small is-left">
                                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_9LR70U.json" background="transparent"  speed="1"  style="width: 150%;" loop autoplay></lottie-player>
                              </span>
                            </p>
                          </div>

                          <div class="field is-grouped is-grouped-right">
                            <p class="control">
                              <button class="button is-danger is-rounded is-outlined" type="reset">
                                Cancel
                              </button>
                            </p>
                            <p class="control">
                              <button class="button is-success is-rounded">
                                Register
                              </button>
                            </p>
                          </div>
                        </form>

                        <div class="column">
                          <p class="subtitle is-7 has-text-centered" style="color: black;"> Already have an account?
                              <a href="{% url 'login' %}" style="color: hsl(204, 86%, 53%);"> Login </a>
                          </p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </body>

    <script type="text/javascript">
      function validator() {
        var username = document.getElementById('reg_username').value;
        var email = document.getElementById('reg_email').value;
        var password1 = document.getElementById('reg_password1').value;
        var password2 = document.getElementById('reg_password2').value;
    
        // Check if username is atleat 5 chars long
        if (username.length < 5) {
          alert('Username must be atleast 5 characters long');
          return false;
        }
        // Check if password: atleast 8 chars containing 1 CAPITAL, 1 number, and 1 symbol
        if (password1.length <= 8) {
          alert('Password must be atleast 8 characters long');
          return false;
        }
        if (!password1.match(/[A-Z]/)) {
          alert('Password must contain atleast 1 CAPITAL letter');
          return false;
        }
        if (!password1.match(/[0-9]/)) {
          alert('Password must contain atleast 1 number');
          return false;
        }
        if (!password1.match(/[!@#$%^&*]/)) {
          alert('Password must contain atleast 1 symbol');
          return false;
        }

        // Check if password and confirm password match
        if (password1 != password2) {
          alert('Confirm Password do not match');
          return false;
        }
    
        return true;
      }
    
      // Process the data to be saved in the database under django app (signup_form)
      $(document).on('submit', '#signup_form', function(event) {
          // Prevents the page reloading
          event.preventDefault();
    
          if(validator()) {
              // AJAX
              $.ajax({
                  type: 'POST',
                  url: 'signup_form/create',
                  data: {
                      name:$('#reg_name').val(),
                      username:$('#reg_username').val(),
                      email:$('#reg_email').val(),
                      password1:$('#reg_password1').val(),
                      password2:$('#reg_password2').val(),
                      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success:function() {
                    if(data.status == "success"){
                          window.location.href = "{% url 'login' %}";
                    }
                  }
              });
          } else {
              alert('Please fill all the fields');
          }
      });
    </script>

</html>

