<div class="hero is-white is-fullheight" style="width: 50%; display: flex; align-items: center; justify-content: center;">
    <div class="hero-body">
      <div class="container">
        <div class="column">
            <p class="title is-3 has-text-centered">
                LOGIN
            </p>
            <p class="subtitle has-text-centered">
                Welcome back!
            </p>
        </div>

        <div class="column">
            <form>
                

                  

                  
            </form>
              <div class="column">
                <p class="subtitle is-7 has-text-centered"> Don't have an account yet?
                    <a href="{% url 'signup' %}"> Sign Up </a>
                </p>
              </div>
        </div>  
      </div>
    </div>
  </div>